.welcome {
    border: 1px solid;
    min-height: 100vh;
    background: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}

.welcomeBlock {
    font-size: 24px;
    width: 450px;
    padding: 20px;
}
.ava{
    width: 300px;

}
